@model TestWebApplication.Domain.Entities.TextField
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.MetaDescription;
    ViewBag.Keywords = Model.MetaKeywords;
}

<div class="text-center" style="align-self:center">
    @Html.Raw(Model.Text);
</div>
