<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	@await Html.PartialAsync("MetaTag")
	@await Html.PartialAsync("Css")
</head>
<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		@await Html.PartialAsync("Header")

		<!-- Nav -->
		@await Html.PartialAsync("Navigation")

		<!-- Main -->
		<div id="main">
			@RenderBody()
			<!-- Introduction -->
			@await Html.PartialAsync("Introdution")

			<!-- First Section -->
			@await Html.PartialAsync("FirstSection")

			<!-- Second Section -->
			@await Html.PartialAsync("SecondSection")

			<!-- Get Started -->
			@await Html.PartialAsync("GetStarted")

		</div>

		<!-- Footer -->
		@await Html.PartialAsync("Footer")

	</div>

	<!-- Scripts -->
	@await Html.PartialAsync("Script")

</body>
</html>