@if(@ViewBag.Title == null)
{
    <title>@ViewBag.Title</title>
}
else 
{
    <title>@TestWebApplication.Service.Config.ProjectName</title>
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
@if(ViewBag.Description != null)
{
    <meta name="description" content="ViewBag.Title" />
}